        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #1E90FF;
            color: white;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        nav {
            display: flex;
            align-items: end;
        }
        nav img {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        nav ul {
            list-style: none;
            padding: 0;
            display: flex;
            gap: 15px;
            margin-left: auto; 
        }
        nav ul li {
            display: inline;
            
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            font-weight: bold;
            
        }
        nav ul li a:hover {
            color: blue;
        }
        section {
            padding: 20px;
            text-align: center;
        }
        .about-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 800px;
            margin: auto;
            text-align: center;
        }
        .about-container img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            margin-top: 20px;
        }
        video {
            width: 100%;
            max-width: 800px;
            height: auto;
        }
        footer {
            background-color: #1E90FF;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
        footer ul {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        footer ul li {
            display: inline;
        }
        footer ul li a {
            color: white;
            text-decoration: none;
            font-size: 24px;
        }
        footer ul li a:hover {
            color: blue;
        }
        .map-container iframe {
            width: 100%;
            max-width: 700px;
            height: 300px;
            border: 0;
        }
        @media (min-width: 768px) {
            .about-container {
                flex-direction: row;
                text-align: left;
            }
            .about-container img {
                margin-left: 20px;
            }
        }
        @media (max-width: 600px) {
            nav ul {
                flex-direction: column;
                align-items: center;
            }
            nav ul li {
                margin: 5px 0;
            }
        }
    